
.mat-card
{
  width:50%;
  margin-right:270px;
  margin-bottom:70px;
  margin-top:30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 2px 5px lightgray;
  border:0.5px solid lightgray;
}

.mat-raised-button
{
  padding: 0px 110px;
  text-align: center;
  margin-top:70px;
  margin-left:160px;
}

.gender
{
  float: right;
  margin-top: 10px;
  margin-right: 90px;
}

.mat-checkbox
{
  margin-right: 10px;
}




