

<div class="inputs" fxLayout="row" fxLayoutAlign="space-evenly center">


  <div>
    <mat-form-field flexLayout="row" fxLayoutAlign="center cente">
      <input matInput [matDatepicker]="picker" placeholder="انتخاب تاریخ">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>

  <div>
    <mat-form-field>
      <mat-label>انتخاب روز</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option value="option1">شنبه</mat-option>
        <mat-option value="option2">یکشنبه</mat-option>
        <mat-option value="option3">دوشنبه</mat-option>
        <mat-option value="option2">سه شنبه</mat-option>
        <mat-option value="option2">چهار شنبه</mat-option>
        <mat-option value="option2">پنجشنبه</mat-option>
        <mat-option value="option2">جمعه</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


</div>



<div fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="0 1 1000px" fxLayout="column" fxLayoutGap="25px">
    <!-- <h4 class="header" fxFlex>
      صفحه ویرایش اطلاعات
    </h4> -->
    <mat-card fxFlex>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource" flex-align="center">
          <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef>
            نام
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.FirstName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef>
              نام خانوادگی
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.LastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef>
              درس
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.course }}
            </td>
          </ng-container>

          <ng-container matColumnDef="scores">
            <th mat-header-cell *matHeaderCellDef>
              نمره
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.scores }}
            </td>
          </ng-container>

          <ng-container matColumnDef="TestDate">
            <th mat-header-cell *matHeaderCellDef>
              تاریخ امتحان
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.TestDate }}
            </td>
          </ng-container>

          <ng-container matColumnDef="StudentID">
            <th mat-header-cell *matHeaderCellDef>
              کد دانش آموزی
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.StudentID }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>
              وضعیت قبولی
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Edit">
            <th
              mat-header-cell
              *matHeaderCellDef

            >
            ویرایش همه
          </th>
            <td
              mat-cell
              *matCellDef="let element"

            >
              <button mat-icon-button  (click)="EditFile()">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>remove_red_eye</mat-icon>
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
