



<form #f="ngForm" (ngSubmit)="addRow(f)">
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="ScoreText" >
  </mat-form-field>
  <button mat-raised-button type="submit">افزودن رکورد</button>
</form>


<div class="example-container mat-elevation-z3">
  <mat-table #table [dataSource]="dataSource">



    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef > ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Scores">
      <mat-header-cell *matHeaderCellDef > Scores </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.scores}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef > Status </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.status]="row.status"> {{row.status}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [@rowsAnimation]="" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->
