<div class="container">
  <h4 class="header" fxFlex>
    صفحه اضافه کردن نمرات
  </h4>
</div>

<mat-form-field class="example-full-width">
  <input matInput type="text"  #input maxlength="2" placeholder="نمره خود را وارد کنید" name="ScoreText" #ScoreText>
  <mat-hint align="end">{{input.value?.length || 0}}/2</mat-hint>
</mat-form-field>
<button mat-raised-button color="warn" type="button" (click)="addRow(ScoreText.value)">افزودن نمرات</button>
<div class="content"></div>


<div class="example-container mat-elevation-z3">
<mat-table #table [dataSource]="dataSource">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef > کد دانش آموزی </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="Scores">
    <mat-header-cell *matHeaderCellDef > درس  </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.scores}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef > نام  </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="color">
    <mat-header-cell *matHeaderCellDef > وضعیت قبولی </mat-header-cell>
    <mat-cell *matCellDef="let row" [style.status]="row.status"> {{row.status}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->
