<!-- <mat-toolbar color="primary">
  Angular Material Table with row animation
</mat-toolbar> -->

<div></div>
<button mat-raised-button (click)="addRow()">اضافه کردن به لیست</button><br/>


<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->



          <ng-container matColumnDef="ID">
            <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.ID}} </mat-cell>
          </ng-container>


    <!-- ID Column -->
    <ng-container matColumnDef="FirstName">
      <mat-header-cell *matHeaderCellDef >FirstName</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.FirstName}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="LastName">
      <mat-header-cell *matHeaderCellDef >LastName</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.LastName}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="course">
      <mat-header-cell *matHeaderCellDef >course</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.course}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="scores">
      <mat-header-cell *matHeaderCellDef >scores</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.scores"> {{row.scores}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="TestDate">
      <mat-header-cell *matHeaderCellDef >TestDate</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.TestDate"> {{row.TestDate}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="StudentID">
      <mat-header-cell *matHeaderCellDef >StudentID</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.StudentID"> {{row.StudentID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef >status</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.status"> {{row.status}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- <mat-row [@rowsAnimation]="" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
  </mat-table>
</div>
<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->
